@model WebDongHoMVC.Models.DonHang

@{
    ViewBag.Title = "XoaDonHang";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}




<h3>Bạn có chắc chắn muốn xóa đơn hàng này?</h3>
<div>
    <h4>Đơn Hàng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaDonHang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaDonHang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.HoTen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KhachHang.HoTen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayDangKy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayDangKy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Hủy bỏ", "Index")
        </div>
    }
</div>
