@model WebDongHoMVC.Models.SanPham

@{
    ViewBag.Title = "XoaSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<h3>Bạn có chắc chắn muốn xóa sản phẩm?</h3>
<div>
    <h4>Hãy suy nghĩ trước khi xóa !!!</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDanhMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            <img src="@Url.Content("~/HinhAnh/"+ @Model.HinhAnh)" alt="@Model.TenSanPham" style="max-width: 100px; height: auto;" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
