@model WebDongHoMVC.Models.KhachHang

@{
    ViewBag.Title = "ThemKhachHang";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("ThemKhachHang", "KhachHang", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-container">
        <div class="header">
            <div class="header-content">
                <h5>Trang chủ / Khách hàng / <span>Thêm khách hàng</span></h5>
            </div>
            <div class="buttons">
                <a href="@Url.Action("Index", "KhachHang")" class="btn btn-back">
                    <i class="fa-solid fa-rotate-left"></i> Quay lại
                </a>
            </div>
        </div>
        <span class="mandatory">Lưu ý nhập đầy đủ các mục</span>
        <div class="row">
            <div class="col-md-8">
                @*<div class="form-group">
            @Html.LabelFor(model => model.MaSanPham, "Mã sản phẩm")
            @Html.EditorFor(model => model.MaSanPham, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập mã đồng hồ" } })
            @Html.ValidationMessageFor(model => model.MaSanPham, "", new { @class = "text-danger" })
        </div>*@
                <div class="form-group">
                    @Html.LabelFor(model => model.HoTen, "Họ tên khách hàng")
                    @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập tên khách hàng" } })
                    @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, "Email")
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập email khách hàng" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group full-width">
                    @Html.LabelFor(model => model.DiaChi, "Địa chỉ")
                    @Html.TextAreaFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control tinymce_editor" } })
                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.SoDienThoai, "Số điện thoại")
                    @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập số điện thoại" } })
                    @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MatKhau, "Mật khẩu")
                    @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control", placeholder = "Mật khẩu" } })
                    @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.HiddenFor(model => model.NgayDangKy, "Ngày đăng ký")
                    @Html.HiddenFor(model => model.NgayDangKy)
                    @Html.ValidationMessageFor(model => model.NgayDangKy, "", new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-primary">Thêm khách hàng</button>
            </div>
        </div>
    </div>

}