@model WebDongHoMVC.Models.DanhMuc

@{
    ViewBag.Title = "XoaDanhMuc";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Bạn có chắc chắn muốn xóa danh mục?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDanhMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            <img src="@Url.Content("~/HinhAnh/"+ @Model.HinhAnh)" alt="@Model.TenDanhMuc" style="max-width: 100px; height: auto;" />
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
